* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman';
}

.contact-header {
    background-color: #EEEEEE;
    color: #888888;
    font-size: 14px;
}

.right-header-contact i {
    margin-right: 15px;
}

.input-search-header .btn {
    background-color: #CCFFFF;
}

.icon-hotline-header {
    background-color: red;
    border-radius: 20px;
    display: inline-block;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
}

.input-search-header {
    max-width: 60%;
    flex: 1;
}

.search-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.right-hotline-header {
    display: flex;
    align-items: center;
}

.location-header {
    margin-right: 20px;
    font-size: 14px;
}

.nav-header {

    background-color: #f28f3c;
}

.nav-header a {
    color: white;
    text-transform: uppercase;
}

.nav-header a:hover {
    color: chartreuse;
}

.nav-link {
    padding: 8px 0;
    position: relative;
}

.content-category {
    margin-top: 10px;
    height: 100%;
}

.title-category {
    border: 1px solid #ADADAD;
    padding: 10px;
    background-color: #f28f3c;
    text-transform: uppercase;
    font-weight: bold;
}

.list-category {
    display: flex;
    flex-direction: column;
}

.item-category {
    border-bottom: 1px solid #ADADAD;
    border-left: 1px solid #ADADAD;
    border-right: 1px solid #ADADAD;
}

.list-category a {
    text-decoration: none;
    color: #ADADAD;
    padding: 10px;
}

.list-category a:hover {
    color: #f28f3c;
    background-color: antiquewhite;
}

.slide-banner {
    margin-top: 10px;
    height: 100%;
}

.item-slide {
    height: 314px;
}

.item-slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.des-gioithieu-home {
    align-items: center;
    height: 100%;
}

.gioithieu-home h3 {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    position: relative;
}

.title-new-product h3 {
    text-transform: uppercase;
    margin: 50px 0 30px 0;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    position: relative;
}

.title-new-product h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #f28f3c;
    width: 20%;
    height: 2px;
}

.gioithieu-home h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #f28f3c;
    width: 20%;
    height: 2px;
}

.img-des-gioithieu video {
    width: 100%;
    border-radius: 15px;
}

.bt {
    padding: 5px 10px;
    border-radius: 30px;
}

.text-des-gioithieu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.text-gioithieu {
    text-align: justify;
}

.button-docthem a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-header {
    position: sticky;
    top: 0;
}

.card-body a {
    text-decoration: none;
    font-size: 14px;
    color: #9B9B9B;
}

.title-gioithieu {
    padding: 10px 0;
}

.bt {
    background-color: #f28f3c;
    padding: 8px 25px;
}

.card {
    margin: 0 10px;
    position: relative;
}

.card-body p {
    color: red;
}

.card-body del {
    color: gray;
}

.text-new {
    background-color: red;
    color: white;
    display: inline-block;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 3px 8px;
    position: absolute;
    top: 10px;
    left: 0;
}

.list-new-product {
    position: relative;
}

.slick-prev {
    position: absolute;
    top: 50%;
    left: -10px;
    z-index: 99;
    cursor: pointer;
    font-size: 30px;
    color: #9c9c9c;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 99;
    cursor: pointer;
    font-size: 30px;
    color: #888888;
}

.list-danhmuc-sanpham .card-body {
    text-align: center;
}

.list-danhmuc-sanpham .card-img-top {
    background-color: #9c9c9c18;
}

.list-danhmuc-sanpham .card {
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.list-like-product .card-img-top {
    height: 150px;
}

.but button {
    color: white;
    padding: 8px 25px;
    border-radius: 30px;
    text-transform: uppercase;
}

.banner-body {
    position: relative;
    margin-top: 50px;
}

.text-banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 60%;
    z-index: 9;
    height: 260px;
    opacity: 0.5;
}

.img-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.img-banner img {
    width: 100%;
}

.list-new-product .card {
    height: 350px;
}

.list-new-product .card-img-top {
    height: 150px;
}

.card-img-top {
    padding: 20px;
}

.card-img-top img {
    width: auto;
}

.banner-body {
    margin-bottom: 50px;
}

.icon-taisao {
    border: 1px solid #9c9c9c;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.text-taisao {
    display: flex;
    align-items: center;
}

.icon-taisao img {
    width: 100%;
    height: auto;
}

.left-taisao {
    background-color: #adadad21;
    padding: 80px;
    height: 100%;
}

.left-taisao h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.bg-banner {
    height: 490px;
    background-image: url(../asset/img/product/sell/bannr-body.png);
}

.img-khachhang {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img-khachhang img {
    width: 100%;
}

.info-khachhang {
    background-color: #f28f3c;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 30px 50px;
    transition: 300ms;
}

.slide-khachhang {
    padding: 50px 0;
}

.name-khachhang {
    font-size: 18px;
}

.quyen {
    margin-bottom: 10px;
}

.slick-center {
    transform: scale(1.2);
    transition: all 300ms ease;
}

.list-doitac {
    margin-bottom: 50px;
}

.footer {
    background-color: #adadad28;
    padding: 50px 0;
}

.footer h4 {
    text-transform: uppercase;
}

.address-footer li {
    list-style: none;
    margin: 10px 0;
}

.address-footer a {
    text-decoration: none;
    color: #726c6c;
}

.des-address p {
    color: #726c6c;
}

ul {
    padding-left: 0;
}

.address-footer ul li a:hover {
    color: #f28f3c;
}

.huongdan-footer li {
    list-style: none;
    margin: 10px 0;
}

.huongdan-footer a {
    text-decoration: none;
    color: #726c6c;
}

.des-address p {
    color: #726c6c;
}

ul {
    padding-left: 0;
}

.huongdan-footer ul li a:hover {
    color: #f28f3c;
}

.fanpage-footer p {
    margin-top: 15px;
    margin-bottom: 8px;
}

.list-mxh {
    font-size: 25px;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    background-color: #888888;
}

.breadcrumb li a {
    text-decoration: none;
    color: #f28f3c;
}

.breadcrumb li {
    color: #f28f3c !important;
}

.title-bread {
    margin: 16px 0;
}

.list-all-product .img-card {
    padding: 35px;
    height: 200px;
}


.page {
    margin: 20px 0;
    align-items: center;

}

.page a {
    color: #f28f3c;
}

.text-des-product h4 {
    font-weight: 500;
}

.price-des-product .price {
    color: red;
    font-weight: bold;
}

.price-des-product del {
    opacity: 0.5;
}

.price-des-product span {
    color: white;
    background-color: red;
    padding: 1px 5px;
    text-transform: uppercase;
    font-size: 12px;
}

.price-des-product {
    background-color: #eeeeee70;
    padding: 5px;
}

.list-des p {
    margin-bottom: 5px;
}

.des {
    margin-top: 10px;
    background-color: #eeeeee70;
    padding: 5px;
}

.button-pay button {
    border-radius: 50px;
    padding: 5px 50px;
    margin-right: 20px;
}

.button-pay button:last-child {
    background-color: #f28f3c;
}

.button-pay {
    margin-top: 30px;
}

.share {
    margin-top: 20px;
}

.share i {
    margin-left: 5px;
}

.text-info-product {
    text-align: justify;
    margin-bottom: 30px;
}

.title-info-product {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.344);
}

.title-info-product h3 {
    font-weight: bold;
    border-bottom: 1px solid #f28f3c;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.item-kinhnghiem {
    margin-bottom: 15px;
}

.img-item-kinhnghiem img {
    border-radius: 15px;
}

.item-menu-kinhnghiem {
    margin-bottom: 15px;
}

.date-kinhnghiem {
    color: #7a7a7a;
    margin: 8px 0;
}

.name-kinhnghiem {
    font-weight: bold;
    margin-bottom: 10px;
}

.text-kinhnghiem {
    color: #7a7a7a;
    font-size: 12px;
}

.img-item img {
    width: 100%;
}

.text-item-menu a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 4px;
    text-decoration: none;
    color: #9c9c9c;
}

.text-item-menu {
    color: #9c9c9c;
}

.text-item-menu a:hover {
    color: #f28f3c;
}

.title-menu {
    text-transform: uppercase;
    background-color: #f28f3c;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px;
}

.menu-kinhnghiem {
    border: 1px solid #9B9B9B;
    border-radius: 15px;
}

.list-menu-kinhnghiem {
    padding: 14px;
}

.title-chitiet {
    font-weight: bold;
    font-size: 28px;
}

.date-chitiet {
    color: #9c9c9c;
    margin-bottom: 20px;
}

.img-chitiet img {
    width: 100%;
    border-radius: 15px;
}

.img-chitiet {
    margin-bottom: 20px;
}

.text-chitiet {
    text-align: justify;
}

.comment-chitiet {
    margin-bottom: 10px;
}

.nav-header .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #3cefff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.nav-header .nav-link:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}